.loginTitle {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.loginPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 74%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputField {
    border-radius: 5px;
    width: 200px;
    height: 25px;
    text-align: center;
}

.loginAnchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    width: 100px;
    height: 35px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }